[submodule "L03/1XC3_L03"]
	path = L03/1XC3_L03
	url = git@github.com:gjohal78/1XC3_L03.git
[submodule "L07/1XC3_L07"]
	path = L07/1XC3_L07
	url = git@github.com:gjohal78/1XC3_L07.git
[submodule "L08/Hello-WorldLabP1"]
	path = L08/Hello-WorldLabP1
	url = git@github.com:gjohal78/Hello-WorldLabP1.git
[submodule "L08/CS1XC3_L08_P3"]
	path = L08/CS1XC3_L08_P3
	url = git@github.com:gjohal78/CS1XC3_L08_P3.git
[submodule "L08/CS1XC3_L08_P2"]
	path = L08/CS1XC3_L08_P2
	url = git@github.com:gjohal78/CS1XC3_L08_P2.git
